/* Fonts */
@import "https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900|Roboto+Mono:100,400|Caveat";
/* Plugins */

@import url(ionicons.min.css);
@import url(https://spikeesakshu.github.io/MyPortfolio/css/font-awesome.min.css);
@import url(animate.min.css);
@import url(swipebox.css);
/* Base structure */
html {
  width: 100% !important;
  height: 100% !important; }

body {
  width: 100% !important;
  height: 100% !important;
  font: normal 15px/1.8 Raleway, sans-serif;
  letter-spacing: 0.03em;
  color: #444;
  background-color: #fff;
  -webkit-font-smoothing: antialiased; }

/* Preloader */
#preloader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: #fff;
  z-index: 99999;
  height: 100%;
  width: 100%;
  overflow: hidden; }

#status {
  position: absolute;
  left: 47%;
  top: 50%;
  margin: auto;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  background: #999;
  animation: 1.15s infinite ease-in-out;
  -webkit-animation: 1.15s infinite ease-in-out;
  -moz-animation: 1.15s infinite ease-in-out;
  animation-name: loader;
  -webkit-animation-name: loader;
  -moz-animation-name: loader; }
  #status:before, #status:after {
    animation: 1.15s infinite ease-in-out;
    -webkit-animation: 1.15s infinite ease-in-out;
    -moz-animation: 1.15s infinite ease-in-out; }
  #status:before, #status:after {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0; }

@keyframes loader {
  from {
    transform: scale(0);
    opacity: 1; }
  to {
    transform: scale(1);
    opacity: 0.5; } }
@-ms-keyframes loader {
  from {
    -ms-transform: scale(0);
    opacity: 1; }
  to {
    -ms-transform: scale(1);
    opacity: 0.5; } }
@-webkit-keyframes loader {
  from {
    -webkit-transform: scale(0);
    opacity: 1; }
  to {
    -webkit-transform: scale(1);
    opacity: 0.5; } }
@-moz-keyframes loader {
  from {
    -moz-transform: scale(0);
    opacity: 1; }
  to {
    -moz-transform: scale(1);
    opacity: 0.5; } }
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.7;
  font-weight: 800; }

h4, h5, h6 {
  font-weight: 700; }

.no-transform {
  text-transform: none; }

p {
  margin: 0 0 35px; }

a {
  text-decoration: none;
  color: #000;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease; }
  a img {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease; }

img {
  -webkit-filter: blur(0);
  filter: blur(0); }

a, img, :focus, input {
  outline: none !important; }

a:hover, a:focus {
  color: #666;
  text-decoration: none; }
a img:hover {
  opacity: .85; }

.no-pad {
  padding: 0 !important;
  margin: 0 !important; }

.no-pad-btm {
  padding-bottom: 0 !important; }

.no-pad-top {
  padding-top: 0 !important; }

.overlay {
  background: rgba(7, 9, 21, 0.7); }

.overlay-gray {
  background: rgba(0, 0, 0, 0.7); }

.overlay-white {
  background: rgba(255, 255, 255, 0.8); }

.overlay, .overlay-gray, .overlay-white {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0; }

.image-overlay {
  padding: 0;
  margin-top: -200px;
  position: relative; }

@media (max-height: 770px) {
  .image-overlay {
    margin-top: -120px; } }
.big {
  font-size: 300px;
  line-height: 1;
  text-shadow: none; }

.breadcrumb {
  background-color: transparent;
  padding: 15px 15px; }

section, .section {
  position: relative;
  z-index: 992;
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: #fff; }

.section-small {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px; }

.list-inline > li {
  padding-bottom: 10px;
  vertical-align: bottom; }

.label, input, .btn, textarea, .dropdown-menu, .panel, .progress, .list-group-item, select {
  border-radius: 0 !important; }

.label {
  padding: 0.2em 0.7em 0.3em 0.7em; }

.nav .label {
  padding: 0.4em 0.7em 0.3em 0.7em; }

.label-danger {
  background-color: #c00; }

.badge {
  line-height: inherit;
  border-radius: 2px !important; }


a .fa, a .icon {
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.iconsmall {
  font-size: 46px;
  float: left;
  line-height: 54px;
  padding-right: 10px; }

.icon-big {
  font-size: 80px;
  line-height: 120px;
  display: block; }

#services-construction .icon-big {
  color: #d4c787; }

#time .icon-big {
  color: #ff4081; }

header .icon-big {
  line-height: 140px; }

.classic,
.classic2 {
  font-family: 'Caveat';
  font-weight: normal !important;
  text-transform: capitalize;
  letter-spacing: 0;
  margin: 0 0 15px;
  transform: rotate(-3deg) !important;
  -moz-transform: rotate(-3deg) !important;
  -webkit-transform: rotate(-3deg) !important;
  opacity: .8; }

.classic2 {
  font-family: 'Great Vibes'; }

.thin {
  font-weight: 100 !important; }

::-moz-selection, ::selection {
  color: #fff;
  background: #000; }

ul, ol {
  margin-bottom: 1.5em; }

a .fa {
  opacity: 0.6 !important; }
  a .fa:hover {
    opacity: .9; }

.float-left {
  float: left; }

.float-right {
  float: right; }

/* Intro */
.intro {
  display: table;
  text-align: center;
  width: 100%;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100% !important;
  z-index: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; }
  .intro a {
    color: #fff; }
    .intro a:hover {
      color: #ccc;
      text-decoration: none; }



.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
  padding: 150px 0 50px;
  width: 100%;
  position: relative;
  z-index: 1; }
  .intro .intro-body .badge {
    background-color: rgba(0, 0, 0, 0.4);
    color: #eee;
    font-size: 8px;
    position: absolute;
    margin: -9px -14px;
    line-height: 1;
    text-shadow: none;
    letter-spacing: 1px;
    border-radius: 50% !important;
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 19px 0 0 2px;
    font-weight: 800; }

.introhalf .intro-body {
  padding: 180px 0 110px; }

.landing .intro-body:before {
  position: absolute;
  background: transparent; }

.intro-body:before {
  background: rgba(7, 9, 21, 0.5);
  content: "";
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -9; }

.intro .intro-body .brand-heading {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: -2px;
  margin: 0 0 5px; }
.intro h1 {
  font-size: 60px;
  font-weight: 900;
  line-height: 80px; }
  .intro h1.classic {
    font-size: 100px;
    line-height: 100px;
    font-weight: normal; }
  .intro h1.classic2 {
    font-size: 110px;
    line-height: 110px; }
.intro .lead {
  margin: 40px 0 0; }

.intro-fullscreen {
  opacity: 1 !important; }
  .intro-fullscreen .intro-body {
    padding: 90px 0 20px; }

@media (max-height: 600px) {
  .intro-fullscreen {
    position: inherit; } }
@keyframes kenburns {
  0% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
@media (min-width: 768px) {
  .intro {
    padding: 0; }
    .intro .intro-body .brand-heading {
      font-size: 46px; } }

/* Intro solid color */
.solid-color .intro-body:before, .solid-color2 .intro-body:before, .solid-color3 .intro-body:before {
  background: transparent !important; }
.solid-color.intro, .solid-color2.intro, .solid-color3.intro {
  text-shadow: none !important; }

.solid-color {
  background-color: #00bcd4; }

.solid-color2 {
  background-color: #ff4081; }

.solid-color3 {
  background-color: #607d8B; }


/* Animated mouse */
.scroll-btn {
  width: 57px;
  display: block;
  text-align: center;
  margin: 60px auto -60px; }
  .scroll-btn .weel {
    position: relative;
    display: inline-block;
    height: 22px;
    margin: 10px auto 5px; }
  .scroll-btn .mouse {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 50px;
    border: 2px solid #eee;
    border-radius: 24px;
    opacity: .5; }
  .scroll-btn .weel span {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -14px 0 0 -4px;
    background: #fff;
    border-radius: 20px;
    -webkit-animation: scroll 3s linear infinite;
    -moz-animation: scroll 3s linear infinite;
    animation: scroll 3s linear infinite; }

@-webkit-keyframes scroll {
  1% {
    opacity: 1;
    top: 30%; }
  20% {
    opacity: 1;
    top: 80%; }
  60% {
    opacity: 0;
    top: 80%; }
  100% {
    opacity: 0;
    top: 30%; } }
@-moz-keyframes scroll {
  1% {
    opacity: 1;
    top: 30%; }
  20% {
    opacity: 1;
    top: 80%; }
  60% {
    opacity: 0;
    top: 80%; }
  100% {
    opacity: 0;
    top: 30%; } }
@keyframes scroll {
  1% {
    opacity: 1;
    top: 30%; }
  20% {
    opacity: 1;
    top: 80%; }
  60% {
    opacity: 0;
    top: 80%; }
  100% {
    opacity: 0;
    top: 30%; } }
@media (max-height: 690px) {
  .scroll-btn {
    display: none; } }
/* Text rotator */
.rotating {
  display: inline-block; }

/
/* Media Queries */
@media (max-width: 768px) {
  body {
    letter-spacing: 0; }

  .h4, h4 {
    font-size: 16px; }

  .h2, h2 {
    font-size: 24px; }

  .h3, h3 {
    font-size: 20px; }

  .intro h1 {
    font-size: 48px;
    line-height: 48px; }
    .intro h1.classic {
      font-size: 60px;
      line-height: 60px;
      margin: 50px 0 50px; }
    .intro h1.classic2 {
      font-size: 65px;
      line-height: 65px;
      margin: 50px 0 50px; }

  section, .section {
    padding-top: 80px;
    padding-bottom: 80px; }

  .section-small {
    padding-top: 60px;
    padding-bottom: 60px; }

  .portfolio-sorting li a {
    margin: 0;
    letter-spacing: 0; }

  .shop-item img {
    width: 100%; } }
@media (max-width: 991px) {
  .action {
    text-align: center; }
    .action .btn {
      float: none;
      margin-top: 30px;
      text-align: center; }
    .action .text-right {
      text-align: center; }

  .footer .text-right {
    text-align: left; }
  .footer .footer-menu {
    padding-bottom: 20px; }

  section {
    background-attachment: scroll !important;
    background-position: 50% 50% !important; }

  .search-button {
    margin-top: 5px; }

  .dropdown-menu .search-button .fa {
    opacity: 1 !important; }

  .nav li a {
    -webkit-transition: all .0s ease-in-out !important;
    -moz-transition: all .0s ease-in-out !important;
    transition: all .0s ease-in-out !important; } }
@media (max-width: 1200px) {
  #about, #about2, #about-slider, #action-slider, #action-slider2, #action-slider3 {
    text-align: center; }

  #carousel-light, #carousel-light2, #carousel-light3, #carousel-light4, #carousel-dark, #carousel-transparent {
    margin: 45px 0; } }
@media (max-width: 480px) {
  .intro h1 {
    font-size: 30px;
    line-height: 40px; } }

/* Magic background */
.magic, .magic2 {
  position: absolute;
  width: 100%;
  z-index: 0;
  top: 0;
  left: 0; }


/* Demo page */
.intro.demo-header h1 {
  font-size: 90px; }
.intro.demo-header h2 {
  font-size: 24px; }

@media (max-width: 768px) {
  .intro.demo-header h1 {
    font-size: 42px; } }
.demo .container-fluid {
  padding-right: 40px;
  padding-left: 40px; }
.demo img {
  margin: 15px auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); }
.demo h6 {
  font-weight: 500px !important; }
.demo .badge.new {
  background-color: #ff4081;
  color: #fff;
  font-size: 9px;
  position: absolute;
  top: 26px;
  right: 20px;
  margin: -24px -14px;
  line-height: 1;
  letter-spacing: 1px;
  border-radius: 50% !important;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 17px;
  z-index: 1; }

.intro.demo-header .intro-body:before {
  background: rgba(25, 25, 35, 0.7); }

